
<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
        .userPostingSection {
            position: relative;
            margin: 0;
            line-height: 100%;
        }
        .tags {
            position: relative;
            font-size: 15px;
            margin: 0;
            line-height: 100%;
        }
        .viewedPost {
            font-size: 10px;
        }
        .postUsername {
            font-size: 20px;
        }
        .postContent {
            font-size: 15px;
        }
        form {
            display: inline-block;
        }
    </style>
</head>
 
<body>
    <center>This is our home page.</center>
    <center><%= data.message %></center>
    <form action="/logout" method="GET">
        <button name="logout" class="navitem" type="submit">Log Out</button>
    </form>
    <form action="/settings" method="GET">
        <button name="settings" class="navitem" type="submit">Settings</button>
    </form>
    <form action="/fellows" method="GET">
        <button name="fellows" class="navitem" type="submit">Fellows</button>
    </form>
    <form action="/fellowrequests" method="GET">
        <button name="fellowRequests" class="navitem" type="submit">Fellow Requests</button>
    </form>
    <form action="/usersearch" method="POST">
        <input name="userSearch" id="userSearch" type="text" placeholder="Search for Users Here">
        <button name="userSearchSubmit" class="navitem" type="submit">Search for Users</button>
    </form>
    <form action="/publicusersearch" method="POST">
        <button name="userSearchSubmit" class="navitem" type="submit">Search for Public Users</button>
    </form>
    <form action="/logout" method="GET">
        <button name="logout" class="navitem" type="submit">Log Out</button>
    </form>
    <div class="userPostingSection">
        <form action="/home" method="POST">
            <label class="postUsername" for="writeContent" text='<%= data.username %>'><%= data.username %></label><br>
            <input name="writeContent" id="writeContent" type="text" placeholder="Write Content Here"><br>
            <button id="postContent" name="postContent" type="submit" disabled=true>Post Content</button>
            <br>
            <div class="tags" >
                <% data.tags.forEach(function(tag,index){ %>
                    <input type="checkbox" class="postTagOptions" id='<%= tag + index %>' name='<%= tag %>' value='<%= tag %>' oninput="decideIfPostable()">
                    <label for='<%= tag + index %>'><%= tag %></label><br>
                    <% }) %>
            </div>
        </form>
    </div>
    <ul>
        <% data.posts.rows.forEach(function(post,index){ %>
            <div class="viewedPost"> 
                <h8 class="postUsername"><%= post.username %></h8><br>
                <% post.tags.forEach(function(tag,index){ %>
                    <button type="submit" disabled=false name='<%= tag %>' value='<%= tag %>'><%= tag %></button>
                    <% }) %>
                    <br>
                <p class="postContent"><%= post.content %></p>
            </div>
        <% }) %>
    </ul>
</body>
<script>
    function decideIfPostable() {
        var checkBoxGroup = document.getElementsByClassName("postTagOptions");
        var submitPostButton = document.getElementById("postContent");
        var checkBoxStateGroup = [];
        for (const checkbox of checkBoxGroup) {
            checkBoxStateGroup.push(checkbox.checked) 
        }
        if (checkBoxStateGroup.includes(true)) {
            submitPostButton.disabled = false;
        }
        else {
            submitPostButton.disabled = true;
        }
    }

    function addTagToPost(element){
        var newTagButton = document.createElement("button");
        newTagButton.appendChild(document.createTextNode(element.value));
    }
</script>
 
</html>   