<!DOCTYPE html>
<html>
 
<head>
    <title>User Search</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
        .userSearchUsername {
            font-size: 20px;
        }
        .tags {
            position: relative;
            font-size: 15px;
            margin: 0;
            line-height: 100%;
        }
        .issueTip {
            font-size: 20px;
            color: orange;
        }
        .postContent {
            font-size: 15px;
        }
    </style>
</head>
 
<body>
    <center>Search Results</center>
    <center><%= data.message %></center>
    <form action="/home" method="GET">
        <button name="Return to Home" type="submit">Return to Home</button>
    </form>
    <form action="/usersearch" method="POST">
        <input name="userSearch" id="userSearch" type="text" placeholder="Search for Users Here">
        <button name="userSearchSubmit" type="submit">Search for Users</button>
    </form>
    <ul>
        <% data.strangers.forEach(function(stranger,index){ %>
            <div class="viewedUserSearchUser"> 
                <form action="/usersearch" method="POST">
                    <% stranger.posts.forEach(function(post,index){ %>
                        <h10 class="userSearchUsername"><%= stranger.username %></h10>
                        <% post.tags.forEach(function(tag,index){ %>
                            <button type="submit" disabled=false name='<%= tag %>' value='<%= tag %>'><%= tag %></button>
                        <% }) %>
                        <br>
                        <p class="postContent"><%= post.content %></p>
                    <% }) %>
                    <button class="userSearchSendRequestButton" type="submit" name='add-user' value='<%= stranger.username %>'>Send Request</button>
                </form>
            </div>
        <% }) %>
        <p class="issueTip">Uh Oh! Not seeing someone? Check your spelling, or check your fellows list!</p>
    </ul>
</body>
</html>   