<!DOCTYPE html>
<html>
 
<head>
    <title>Settings</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
        .externalLabel {
            font-size: 24px;
        }
        .tags {
            position: relative;
            font-size: 15px;
            margin: 0;
            line-height: 100%;
        }
    </style>
</head>
 
<body>
    <center><%= data.greeting %></center>
    <form action="/home" method="GET">
        <button name="Return to Home" type="submit">Return to Home</button>
    </form>
    <form action="/settings" method="POST">
        <input name="username" id="username" type="text" placeholder="Username"><br>
        <label for="username" text="Username:"></label>
        <input name="password" id="password" type="password" placeholder="Password"><br>
        <label for="password" text="Password:"></label>
        <input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password"><br>
        <label for="confirmPassword" text="Confirm Password:"></label>

        <input name="email" id="email" type="text" placeholder="Email"><br>
        <label for="email" text="Email:"></label>
        <% let checked = data.searchable ? "checked" : "" %>
        <input name="searchable" id="searchable" type="checkbox" <%= checked %>>
        <label class="externalLabel" for="searchable" text="Searchable?">Searchable?</label><br>
        <div class="tags" >
            <% data.tags.forEach(function(tag,index){ %>
                <input type="checkbox" id='<%= tag.name + index %>' name='<%= tag.name %>' value='<%= tag.name %>' <%= tag.included ? "checked" : ""%>>
                <label class="tagLabel" for='<%= tag.name + index %>'><%= tag.name %></label><br>
                <% }) %>
        </div>
        <button name="SaveSettings" type="submit">Save Settings</button>
    </form>
</body>
 
</html>   